<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>경쟁사 가격 스크래퍼</title>
    
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</head>

<style>

  h1 {
    text-align : center;
    font-size : 45px;
    margin-top : 10px;
  }


  .head {    
    font-family: 'Do Hyeon', sans-serif;
    margin-left : 50px;
    margin-top : 40px;
  }

  .room_select {
    
    margin-top : 20px;
    margin-left : 20px;
  }


  .btn {
    margin-left : 50px;
    width : 15%; 
  }


  .graph {
    /* margin : auto; */
    width : 600px;
  }

</style>


<script>

    // function table_view() {
    //     window.location.href="http://localhost:5000/table_view";
    // }

</script>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">       
            <a class="navbar-brand" href="#">Sparta Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"> 호텔 가격 비교 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">항공사 가격 비교</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">만든 사람</a>
                </li>
              </ul>
            </div>
          
      </nav>

    <div calss="wrap">
        <h1 class="head">경쟁사 가격 그래프</h1>

        <!-- 
        <div class="dropdown room_select">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            내 숙소 객실 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">A</a>
            <a class="dropdown-item" href="#">B</a>
            <a class="dropdown-item" href="#">C</a>
          </div>

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            경쟁사 1 가격 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">A</a>
            <a class="dropdown-item" href="#">B</a>
            <a class="dropdown-item" href="#">C</a>
          </div>

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            경쟁사 1 가격 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">A</a>
            <a class="dropdown-item" href="#">B</a>
            <a class="dropdown-item" href="#">C</a>
          </div>

          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            경쟁사 1 가격 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">A</a>
            <a class="dropdown-item" href="#">B</a>
            <a class="dropdown-item" href="#">C</a>
          </div>
        </div> -->


        <div class = "graph">    
        {% if True %}
        <img src="{{ url_for('static', filename=image_file) }}">
        {% endif %}
       </div> 
        <!-- <button on_click =table_view()>테이블 뷰 전환</button> -->
        <!-- <input type="button" value="가격표로 이동" onClick="self.location='http://localhost:5000/table_view';"> -->
        <div>
        <button type="button" class="btn btn-dark" onClick="self.location='http://localhost:5000/table_view';">가격표로 이동</button>
        <button type="button" class="btn btn-dark">새로 불러오기</button>
        </div>
      </div>
     
</body>
</html>